@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
        <h2>Destiny Auth Example in .NET (NOT WORKING YET)</h2>
        <p>
            This is a simple example of how to use the new Bungie OAuth authentication in .NET. 
            This example is made in .NET Core, but should work as a base for anything else C#.
        
        </p>
        <p>
            Please note the following:
        </p>
        <ul>
            <li><strong>Is not intended to be Highly secure.</strong> Just works. I don't use the state param for example</li>
            <li>I'm not using any best practices or something like that. Again, just works.</li>
            <li>Any question related to this, should be made on GitHub, or the Bungie.net's dev community.</li>
        </ul>
    </div>
</div>
